body
  font-family: system-ui
  padding: 0
  margin: 0

#content
  padding: 50px
  padding-top: 20px

header
  background-color: #604c8d

header #logo
  padding: 10px
  font-size: 20px
  font-weight: bold
  background: #BD5C73
  display: inline-block

header #logo a
  color: White
  text-decoration: none

header #logo a:hover
  text-decoration: underline

